#main-page-body{
    background-color: royalblue;
}

.logo img{
    height:150px;
    width: 250px;
    padding: 5% 5% 5% 5%;
    margin: -30px;
}
.page-title{
    padding: 5%;
    margin:auto;
    display:block;
    text-align:center;
    font-size:72px;
    color:navajowhite;
}

.mdl-grid{
    padding:2% 20%;
    
}
.demo-card-square.mdl-card {
    width: 350px;
    height: 350px;
    margin: 1em 1em;

}

#electric {
    background-image: url('/images/Site Images/Home/electric.jpg');
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: inset 8px royalblue;
}

#electric a {
    width: inherit;
    height: inherit;
}

#electric-cell > .card-text {
    height: 50px;
    width: 400px;
    display: block;
    text-align: center;
    padding: 5%;
    font: 32px arial;
    font-weight: 300;
    color: rgba(255, 222, 173, 0.5);
}


#electric-cell {
    position: fixed;
    top: 50%;
    left: 30%;
    margin-top: -200px;
    margin-left: -200px;
}

#electric-cell > .demo-card-square > .mdl-card__title:hover  {
    border-color: ghostwhite;
}


#bass {
    background-image: url('/images/Site Images/Home/bass.jpg');
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: inset 8px royalblue;
}

#bass a{
    height: inherit;
    width: inherit;
}

#bass-cell {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}
#bass-cell > .card-text {
    height: 50px;
    width: 400px;
    display: block;
    text-align: center;
    padding: 5%;
    font: 32px arial;
    font-weight: 300;
    color: rgba(255, 222, 173, 0.5);
}

#bass-cell > .demo-card-square > .mdl-card__title:hover {
    border-color: ghostwhite;
}

#acoustic {
    background-image: url('/images/Site Images/Home/acoustic.jpg');
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: inset 8px royalblue;
}

#acoustic a {
    width: inherit;
    height: inherit;
}

#acoustic-cell > .card-text {
    height: 50px;
    width: 400px;
    display: block;
    text-align: center;
    padding: 5%;
    font: 32px arial;
    font-weight: 300;
    color: rgba(255, 222, 173, 0.5);
}

#acoustic-cell {
    position: fixed;
    top: 50%;
    left: 70%;
    margin-top: -200px;
    margin-left: -200px;
}

#acoustic-cell > .demo-card-square > .mdl-card__title:hover {
    border-color: ghostwhite;
}

.catalog-btn {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    margin-top: 2.5em;
}

.catalog-btn a {
    height: 50px;
    width: 325px;
}

@media only screen and (max-width: 1400px) {
    .page-title {
        font-size: 48px;
    }

    .demo-card-square.mdl-card {
        width: 225px;
        height: 225px;
    }


    #electric-cell > .card-text {
        height: 25px;
        width: 250px;
        padding: 2.5%;
        font: 24px arial;
    }


    #electric-cell {
        margin-top: -112.5px;
        margin-left: -112.5px;
    }

    #bass-cell {
        margin-top: -112.5px;
        margin-left: -112.5px;
    }

    #bass-cell > .card-text {
        height: 25px;
        width: 250px;
        padding: 2.5%;
        font: 24px arial;
    }

    #acoustic-cell > .card-text {
        height: 25px;
        width: 250px;
        padding: 2.5%;
        font: 24px arial;
    }

    #acoustic-cell {
        margin-top: -112.5px;
        margin-left: -112.5px;
    }

    .catalog-btn {
        position: fixed;
        top: 85%;
        left: 52%;
        transform: translate(-52%, -85%);
    }

    .catalog-btn a {
        height: 40px;
        width: 250px;
    }
}

/* Product Index */

.productTitle {
    text-align: left;
    margin-left: 1%;
    margin-bottom: 0;
    color: navajowhite;
    font-size: 48px;
    padding-bottom: 1%;
}

.form-actions{
    margin-left: 1%;
    margin-bottom: 1%;
}

.form-actions > p {
   font-size: 24px;
   color: white;
}

.form-actions > p > a  {
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.75);
    margin: 0em .5em;
}

#searchBar {
    width: 800px;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 10px 10px;
}

#searchBtn {
    color: #fff;
    background-color: #2f6ff5;
    border-color: #007bff;
    margin: 0em .5em;
    margin-top: 5px;
    width: 100px;
    height: 35px;
}

#assetsTable{
    background-color: white
}

#assetsTable thead{
    color:black;
    background-color: beige;
    font-size: 16px;
    text-align: center;
}

#assetsTable > table > thead .name{
    text-align: center;
}


#assetsTable > table > thead .num {
    text-align: left;
}

#assetsTable a > img{
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 15%;
}

#assetsTable #productIndexTable #typeImg{
    width: 150px;
    height: 150px;
    float: right;
    margin: 1% 1%;
}

#assetsTable td {
    font-size: 14px;
    border-left: 1.25px solid #dee2e6; 
}

#assetsTable > table > tbody > .assetRow .assetRate{
    text-align: right !important;
}

#assetsTable > table > tbody > .assetRow .assetAvail{
    text-align: right !important;
    padding-right: 1.25em;
}

#assetsTable > table > tbody > .assetRow .assetStrings {
    text-align: center;
    padding: 5px;
}

#assetsTable > table > tbody .assetDesc{
  width: 55%;
}

@media only screen and (max-width: 1400px) {
    .productTitle {
        font-size: 32px;
    }

    .form-actions > p {
       font-size: 18px;
       color: white;
    }

    .form-actions > p > a  {
        font-size: 14px;
    }

    #searchBar {
        width: 600px;
        font-size: 14px;
    }

    #searchBtn {
        width: 80px;
        height: 35px;
    }

    #assetsTable thead{
        font-size: 14px;
    }

    #assetsTable a > img{
        width: 125px;
        height: 125px;
        margin-right: 5%;
    }

    #assetsTable #productIndexTable #typeImg{
        width: 100px;
        height: 100px;
    }

    #assetsTable td {
        font-size: 12px;
    }
}

/* Product Detail*/

.productDetailTitle {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    color: navajowhite;
    font-size: 40px;
    padding-bottom: 2%;
}

.content {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%); 
    background-color: white;
    margin: 0px 0px;
    padding: 1% 1%;
    border-radius: 10px 10px;
    width: 65%;
}

.content > .imageDiv{
    height: 40%;
    width: 40%;
}

.content > div > img {
    margin-top: 5%;
    margin-bottom: 10%;
    height: 90%;
    width: 90%;
}

.content > .imageDiv > .altImages{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .5fr .5fr 1fr;
    grid-gap: 1vw;
    padding-left: 10%;
}
.content > .imageDiv > .altImages > img{
    height: 100px;
    width: 100px;
    border: 2px solid grey;
}

.content > .imageDiv > .altImages > #altImg1 {
    border: 2px solid orange;
}

.content > .detailSpecs {
    margin: 1% 0%;
    padding: 15px;
}

.content > div > p > .btns{
    height: 40px;
    width: 100px;
    padding: 10px 10px;
    font-size: 14px;
    margin-left: -2.5px;
}

.content > .detailSpecs .dataTables{
   margin-top: 3.25%;
   margin-bottom: 0%;
}
.content #rentHistoryTable thead{
    background-color: rgba(0, 255, 144, 0.5);

}

.content #currHoldsTable thead {
    background-color: rgba(0, 255, 144, 0.5);
}

@media only screen and (max-width: 1400px) {
    .productDetailTitle {
        margin: 2% 1% 1% 0%;
        font-size: 24px;
        padding-bottom: 2%;
    }

    .content {
        position: fixed;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
        width: 65%;
        height: 70%;
    }

    .content > div > img {
        margin-top: 5%;
        margin-bottom: 15%;
        height: 125%;
        width: 90%;
    }

    .content > .imageDiv > .altImages {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: .5fr .5fr 1fr;
    }

    .content > .imageDiv > .altImages > img {
        height: 50px;
        width: 50px;
    }

    .content > .detailSpecs {
        margin: 1% 0%;
        padding: 0px;
    }

    .content > .detailSpecs > p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .content > div > p > .btns {
        height: 30px;
        width: 60px;
        padding: 8px 8px;
        font-size: 10px;
    }

    .content > .detailSpecs .dataTables {
        display: none;
    }
}

/* Rent/Return/Hold Out Detail */
.contentBox {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    table-layout: fixed;
    background-color: white;
    margin: 0px 0px;
    padding: 1% 1%;
    border-radius: 10px 10px;
    width: 50%;
}

.contentBox #itemTitle{
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}

.contentBox .col-md-6{
    padding-left: 0px;
}

.contentBox .col-md-6 div #mainImage {
    height: 85%;
    width: 85%;
    float: left;
    border: 2px solid black;
    padding-left: 0px;
}

.contentBox .subBox .formField{
    font-size: 14px;
    text-align: right;
    margin-bottom: 5%;
    margin-top: 5%;
}

.contentBox .subBox .formField input{
    font-size: 14px;
    border: 1px solid grey;
}

.contentBox .subBox .formBtnRent{
   margin-left: 72%;
}

.contentBox .subBox .formBtnReturn {
    margin-left: 76%;
}

.contentBox .subBox .formBtnHold {
    margin-left: 66%;
}

.contentBox > .subBox > .altImages {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    padding-top: 15%;
    padding-left: 10%;
}

.contentBox > .subBox > .altImages > img {
    height: 80px;
    width: 80px;
    border: 2px solid grey;
}

.contentBox > .subBox > .altImages > #altImg1 {
    border: 2px solid orange;
}

@media only screen and (max-width: 1400px) {
    .contentBox {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 50%;
        height: 50%;
    }

    .contentBox #itemTitle{
        font-size: 12px;
    }

    .contentBox .col-md-6 div #mainImage {
        height: 90%;
        width: 90%; 
        margin-top: 3%
    }

     .contentBox .subBox{
         margin: .5%;
         width: 45%;
         height: 45%;
     }

    .contentBox .subBox .formField {
        font-size: 10px;
        margin-bottom: 3%;
    }

    .contentBox .subBox .formField input{
        font-size: 10px;
    }

    .contentBox .subBox .formBtnRent{
       margin-left: 73%;
       margin-bottom: 10%;
    }

    .contentBox .subBox .formBtnRent > button{
       height: 25px;
       width: 75px;
       font-size: 10px;
       padding: 5px;
    }

    .contentBox .subBox .formBtnReturn {
        margin-left: 73%;
        margin-bottom: 10%;
    }

    .contentBox .subBox .formBtnReturn > button{
       height: 25px;
       width: 75px;
       font-size: 10px;
       padding: 5px;
    }

    .contentBox .subBox .formBtnHold {
        margin-left: 73%;
        margin-bottom: 10%;
    }

    .contentBox .subBox .formBtnHold > button{
       height: 25px;
       width: 75px;
       font-size: 10px;
       padding: 5px;
    }

    .contentBox > .subBox > .altImages {
        grid-template-rows: .5fr .5fr;
        grid-template-columns: .5fr .5fr .5fr;
        grid-gap: .5vw;
        padding-top: 5%;
        padding-left: 0%;
    }   

    .contentBox > .subBox > .altImages > img {
        height: 65px;
        width: 65px;
    }
}

/* Distribution Index */

.indexTitle {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 60px;
    color: navajowhite;
    padding-bottom: 2%
}

#distributionTable {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    table-layout: fixed;
    width: 72.5%;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 2px royalblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Font Family */
}

#distributionTable thead {
    background-color: rgba(0, 255, 144, 0.5);
}

#distributionTable tr {
    background-color: rgba(0, 255, 144, .15);
}

#distributionTable tr:hover {
    background-color: rgba(0,0,0,0);
}

#distributionTable th a{
    color: rgb(0, 146, 82);
    font-size: 16px;
    font-weight: bold;
    padding-right: 5%;

}

#distributionTable td{
    color: #000000;
    font-size: 12px;
}

#distributionTable td a {
    color: #000000;
    font-size: 12.5px;
    font-weight: bold;
}

@media only screen and (max-width: 1400px){
    .indexTitle {
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
        font-size: 36px;
    }

    #distributionTable {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
    }

    #distributionTable th a{
        font-size: 12px;
    }

    #distributionTable td{
        font-size: 10px;
    }

    #distributionTable td a {
        font-size: 10.5px;
    }
}

/* Distribution Detail */
.jumbotron {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    table-layout: fixed;
    width: 50%;
    height: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px 20px;
    border: 2px solid royalblue;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgba(248, 248, 255, 0.95);
}

.jumboheader {
    height: 35%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 255, 144, .50);
    border-bottom: 2px solid #000000;
    
}
#centerName {
    margin-top: 0px;
    margin-bottom: 1%;
    color: #000000;
    font-size: 40px;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2.5px;
    padding-top: .5em;
}

.centerContact {
    color: #000000;
    text-align: center;
    font-size: 20px;
    word-spacing: 3.5px;
    line-height: 20px;
}

#centerLoc {
    color: #000000;
    margin-bottom: 1%;
    margin-left: .5em;
    text-align: center;
    font-size: 18px;
}

.jumbobody {
    height: 65%;
    width: 100%;
    margin: 1em 0em .75em .75em;
}
#centerStats {
    text-align: left;
    font-size: 18px;
    width: 48%;
    margin-bottom: 1em;
}

#centerCouriers {
    font-size: 18px;
    width: 48%;
}

#centerHours {
    margin: .5em 0em .5em 1em;
    font-size: 18px;
    width: 48%;
}

#centerHours li {
    font-size: 16px;
    margin: .25em 0em .5em 0em;
}

#centerImage {
    position: absolute;
    left: 49.5%;
    top: 37.5%;
    float: right;
    height: 60%;
    width: 48%;
    margin-left: 1%;
}

@media only screen and (max-width: 1400px){
    .jumbotron {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        margin-top: 1%;
    }

    .jumboheader {
        height: 40%;
        width: 100%;
    }

    #centerName {
        font-size: 24px;        
    }

    .centerContact {
        margin-top: -2.5%;
        font-size: 12px;
    }

    #centerLoc {
        margin-top: -2%;
        font-size: 10.5px;

    }

    .jumbobody {
        height: 65%;
        width: 100%;
        margin: 1em 0em .75em .75em;
    }

    #centerStats {
        text-align: left;
        font-size: 10px;
    }

    #centerCouriers {
        font-size: 10px;
        margin-top: -5px;
    }

    #centerHours {
        margin: 0em 0em .5em 1em;
    }

    #centerHours ul{
        padding-left: 1%;
    }
    #centerHours li {
        font-size: 8.25px;
        display: inline-block;
        margin: .10em 0em 0em 0em;
    }

    #centerImage {
        position: absolute;
        left: 49.5%;
        top: 42%;
        float: right;
        height: 55%;
        width: 48%;
        margin-left: 1%;
    }
}

/* Subscriber Index*/
#subscriberIndexTable {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    table-layout: fixed;
    width: 72.5%;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 2px royalblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Font Family */
}

#subscriberIndexTable thead {
    background-color: rgba(0, 255, 144, 0.5);
}

#subscriberIndexTable tr {
    background-color: rgba(0, 255, 144, .15);
}

#subscriberIndexTable tr:hover {
    background-color: rgba(0,0,0,0);
}

#subscriberIndexTable th a {
    color: rgb(0, 146, 82);
    font-size: 16px;
    font-weight: bold;
    padding-right: 5%;
}

#subscriberIndexTable th {
    /*color: rgba(128, 128, 128, 0.80); */
    color: rgba(0, 146, 82, .75);
    font-size: 16px;
    font-weight: bold;
    padding-right: 5%;
}
#subscriberIndexTable td {
    color: #000000;
    font-size: 12px;
    text-align: left;
}

#subscriberIndexTable td a {
    color: #000000;
    font-size: 12.5px;
    font-weight: bold;
}

@media only screen and (max-width: 1400px){
    #subscriberIndexTable {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;    
    }

    #subscriberIndexTable th a {
        font-size: 12px;
    }

    #subscriberIndexTable th {
        font-size: 11px;
    }
    #subscriberIndexTable td {
        font-size: 9.5px;
    }

    #subscriberIndexTable td a {
        font-size: 10px;
    }
}

/* Subscriber Detail */
#subscriberName {
    margin-left: 5%;
    border: 2px solid #000000;
    text-align: center;
    background-color: rgba(0, 255, 144, 0.5);
}

.subscriberContact {
    background-color: rgba(0, 255, 144, .50);
    border: dashed 2px #000000;
    margin: 10% 2px 0px 5%;
    padding: 5%;
    font-size: 16px
}

.subscriberContact > div {
    padding-bottom: 1em;
}

.rented {
    margin: 2.5% 1% 0 1%;
    flex: 0 0 30%;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgba(0, 255, 144, .15);
}

.rented h4 {
    font-size: 20px;
    font-weight: 400;
}

.holds {
    margin: 2.5% 2% 0 1%;
    flex: 0 0 30%;
    border: 2px solid black;
    background-color: rgba(0, 255, 144, .15);
}

.holds h4{
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 1400px){
    #subscriberName {
        font-size: 24px;
        margin-bottom: .5%;
        margin-top: 9%;
    }

    .subscriberContact {
        background-color: rgba(0, 255, 144, .50);
        border: dashed 2px #000000;
        margin: 5% 2px 0px 5%;
        padding: 3%;
        font-size: 8.75px
    }

    .subscriberContact > div {
        padding-bottom: 1em;
    }

    .rented h4 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 5%;
    }

    .rented div{
        font-size: 12px;
    }

    .holds h4 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 5%;
    }

    .holds div {
        font-size: 12px;
    }
}
/* Inventory Index */
#invLedger {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border-spacing: 0;
    /* Font Family */
}

#invLedger thead {
    background-color: rgba(0, 255, 144, 0.5);
}

#invLedger tr {
    background-color: rgba(0, 255, 144, .15);
}

#invLedger tr:hover {
    background-color: rgba(0,0,0,0);
}

#invLedger th a {
    color: rgb(0, 146, 82);
    font-size: 16px;
    font-weight: bold;
    padding-right: 5%;
}

#invLedger th {
    /*color: rgba(128, 128, 128, 0.80); */
    color: rgba(0, 146, 82, .75);
    font-size: 16px;
    font-weight: bold;
    padding-right: 5%;
}

#invLedger td {
    color: #000000;
    font-size: 12px;
    text-align: center;
}

#invLedger td a {
    color: #000000;
    font-size: 12.5px;
    font-weight: bold;
}

@media only screen and (max-width: 1400px){
    #invLedger {
        position: fixed;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -85%);
    }

    #invLedger th a {
        color: rgb(0, 146, 82);
        font-size: 12px;
        font-weight: bold;
        padding-right: 5%;
    }

    #invLedger td {
        font-size: 8.5px;
    }

    #invLedger .name{
        text-align: center;
    }

    #invLedger .nameLong {
        text-align: left;
        padding-left: 12.5px;
    }

    #invLedger .num{
        text-align: right;

    }

    #invLedger .num2d {
        text-align: center;
        padding-left: 45px;
    }

}

/* Error Handling*/
.page-content .page-start{
    margin-top: 1%;
}

.page-content .page-start .errorBtn{
}